/* Custom properties */
:root{
  --blue: #255EE9;
  --white: #FFFFFF;
  --black: #23272A;
  --grey: #F6F6F6;
  --light-blue: #8EA1E1;
}


/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: sans-serif;
}

/* Utils */

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}

.bg-white {
  background-color: var(--white);
}

.bg-gray {
  background-color: var(--grey);
}

.button-black{
  background-color: var(--black);
  color: var(--white);
}

.button-white{
  background-color: var(--white);
}

.button-light-blue{
  background-color: var(--light-blue);
  color: var(--white);
}

.black{
  color: var(--black);
}

.white{
  color: var(--white);
}

header {
  background-color: var(--blue);
  color: var(--white);
}

p{
  line-height: 20px;
}

.small-button{
  padding: 5px 10px;
  font-size: small;
  border-radius: 15px;
  border: 1px solid transparent;
  margin-right: 20px;
}

.big-button{
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid transparent;
}

.separate{
  margin-right: 15px;
}

.fa-down-long{
  margin-right: 10px;
  font-size: smaller;
}

/* # Navbar */

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > * {
  padding: 10px;
  flex-basis: 20%;
  background-color: var(--blue);
}

.navbar-menu {
  flex-grow: 1;
  text-align: center;
}

.navbar-menu > span{
  margin: 0 10px;
  font-size: smaller;
}

.navbar-actions {
  text-align: right;
  font-size: medium;
}

/* # Jumbotron */

.jumbotron {
  padding: 50px;
  height: 400px;
  background-color: var(--blue);
  background-image: url('../img/jumbo.png');
  background-size: contain;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.jumbotron .content {
  width: 50%;
  height: 100%;
  text-align: center;
}

.content > h1{
font-size: 40px;
padding-top: 30px;
}

.content > p{
  font-size: smaller;
  padding: 0 55px;
  padding-top: 30px;
  padding-bottom: 20px;
  }


/* # Main & sections */
section {
  padding: 100px;
  height: 600px;
}

.big-section{
  padding: 100px;
  height: 1200px;
}

section > .container {
  height: 100%;
}

.flex > .small-col {
  flex-basis: 40%;
  justify-content: flex-start;
}

.flex > .large-col {
  flex-basis: 60%;
  justify-content: center;
  align-items: flex-start;
}

.container .large-col > img{
  width: 450px;
}

.container .small-col > h2{
  font-size: 35px;
  padding: 20px 80px;
}

.container .small-col > p{
  font-size: small;
  padding: 0 80px;
}

.flex > .full-col {
  flex-basis: 100%;
  text-align: center;
}

.container .full-col > h2{
  font-size: 35px;
}

.container .full-col > p{
  font-size: small;
  padding: 20px 90px;
}

.container .full-col > img{
  width:100%;
}

.container .full-col-question{
  padding: 30px;
}

.container .full-col-question > h3{
  font-size: 20px;
  padding-bottom: 20px;
}


/* # Footer */

footer {
  padding: 50px;
  background-color: #23272a;
  /* color: white; */
}

.footer-top {
  height: 600px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid purple;

  display: flex;
}

.footer-top .footer-left {
  flex-basis: 30%;
  background-color: pink;
}

.footer-top .footer-right {
  flex-basis: 70%;
  background-color: #20b2aa;
}

.footer-nav {
  height: 100%;
  display: flex;
  /* background-color: #fff; */
}

.footer-nav > div {
  flex-basis: 25%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: aquamarine;
}

.footer-bottom > * {
  padding: 5px 10px;
  background-color: yellow;
}
